@import url("https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@400;700&display=swap");

/*
 @todo: muitos desses css estão disponíveis no tailwind, não há motivo
 pra estar aqui, isso inclui pseudo estados, ::, [type=number], !important, etc...
 tailwind tem tudo isso também
*/

/* Dropdown menu styles */
* {
  font-family: 'Montagu Slab', serif !important;
}
body{
  margin: 0;
}
